$main-bg-clr: #ffffff;
$main-txt-clr: #2e2f42;
$second-txt-clr: #434455;
$main-icon-clr: #f4f4fd;
$accent: #4d5ae5;
$light-accent: #e7e9fc;
$studio-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
$active-state-clr: #404bbf;
